<!-- Em components/modal.html -->
<div id="modal-container" class="modal-container">
    <div class="modal-content">
        <h3 id="modal-title">Título do Modal</h3>
        <!-- MUDANÇA AQUI -->
        <div id="modal-body">
            <!-- O conteúdo (mensagem ou HTML customizado) será inserido aqui -->
        </div>
        <div class="modal-actions">
          <button id="modal-delete-btn" class="modal-btn danger" style="display: none;">Excluir</button>
    <div style="flex-grow: 1;"></div> <!-- Espaçador -->
            <button id="modal-cancel-btn" class="modal-btn cancel">Cancelar</button>
            <button id="modal-confirm-btn" class="modal-btn confirm">Confirmar</button>
        </div>
    </div>
</div>