/* --- Componente: Barra de Progresso --- */

.progress-bar-container {
    width: 100%;
    background-color: var(--border-color);
    border-radius: 15px;
    height: 12px;
    overflow: hidden;
    margin-top: 1rem;
}

.progress-bar {
    height: 100%;
    border-radius: 15px;
    transition: width 0.5s ease-in-out;
    /* Cor padrão, será sobrescrita */
    background-color: var(--primary-color); 
}

/* Cores baseadas na "saúde" */
.progress-bar.success {
    background-color: var(--success-color);
}
.progress-bar.warning {
    background-color: var(--warning-color);
}
.progress-bar.danger {
    background-color: var(--danger-color);
}